[submodule "builder"]
	path = builder
	url = https://github.com/quantumew/builder.git
	branch = master
[submodule "listener"]
	path = listener
	url = https://github.com/quantumew/listener.git
	branch = master
[submodule "data-access"]
	path = data-access
	url = https://github.com/quantumew/data-access.git
	branch = master
[submodule "plugins"]
	path = plugins
	url = https://github.com/quantumew/plugins.git
	branch = master
